# Copie para .env e preencha com a sua chave de acesso.
# A chave é gerada por aplicativo em "Meus Aplicativos":
# https://www.sptrans.com.br/desenvolvedores/
SPTRANS_TOKEN=
SPTRANS_API_BASE=https://api.olhovivo.sptrans.com.br/v2.1
